{% extends "base.html" %}
{% block body %}


<form name = "drugSearch" class="form-group">
<div>
    <input type="text" class="form-control" placeholder="Search Rx" id="drug">
	<button type="submit" value = "submit" class="btn btn-primary" id="submit">Search</button>
 </div>
</form>

<div id ="results">





<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
$("#submit").click(function (e) {
    e.preventDefault(); //Overrides submit button defaults
    var data = {"search_term" : $("#drug").val()}
    console.log(data)
    $.post('/drugs', data, 
		    function(response){
            $('.results').html(response);
    })

})

</script>

{% endblock %}