{% extends "base.html" %}
{% block body %}


<form name = "drugSearch" class="form-group">
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search Rx" id="drug">

      <span class="input-group-btn">
	<button type="submit" value = "submit" class="btn btn-primary" id="submit">Search</button>
    </span>

 </div>
</form>

<div id ="results"></div>




<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
$("#submit").click(function (e) {
    e.preventDefault(); //Overrides submit button defaults
    var data = {"search_term" : $("#drug").val()}
    $('#results').html("Loading...")
    $.post('/drugs', data)
    	.done(function (response) {
    		$('#results').html(response);
    	})
    	.fail(function () {
    		$('#results').html("Couldn't load results");

    	})
})

</script>

{% endblock %}