<html>
<body>
	<h1> WOOOOOOHOOOOOOOO!!!</h1>

	<button id="start" value="Start Tracking" onclick="startTracking()">START</button>


	<button id="submit" value="Submit">SUBMIT</button>

	<h3> x </h3>
	<div class="x"></div>

	<h3> y </h3>
	<div class="y"></div>

	<h3> z </h3>
	<div class="z"></div>

	<h3> sample </h3>
	<div class="x_samples"></div>

	<h3> total</h3>
	<div class="total_x_samples"></div>

	<h3>Insert samples?</h3>
	<div class ="some_samples"></div>

</body>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script = "text/javascript">


var x_samples = []
var y_samples = []
var z_samples = []

var total_x_samples = []
var total_y_samples = []
var total_z_samples = []



function gather_samples () {
	total_x_samples.push(x_samples)
	x_samples = [];
};


var total_x_samples_dom = $('.total_x_samples');
var x_samples_dom = $('.x_samples');
var x_dom = $('.x');
var y_dom = $('.y');
var z_dom = $('.z');

var startTracking = function () {

	window.ondevicemotion = function(event) {
	    var x = event.acceleration.x;
	    //var y = event.acceleration.y;
	    //var z = event.acceleration.z;
	    x_dom.html(x);
	    //y_dom.html(y);
	    //z_dom.html(z);

	    x_samples.push(x)
	    y_samples.push(y)
	    z_samples.push(z) 
	    
	}
	window.gatherTimer = setInterval(gather_samples,1000);
}



</script>


<script>
 $(document).ready(function() {
                console.log('ready!');
            });

 $("#submit").click(function (e) {
    console.log("Things finished");
    console.log(total_x_samples)
    e.preventDefault(); //Overrides submit button defaults
    clearInterval(window.gatherTimer)
    window.ondevicemotion = undefined;
    $.post('/send_pkg', {x: JSON.stringify(total_x_samples)}, 
		    function(response){
            $('.some_samples').html(response);
    })

})
</script>

</html>

<!-- y: JSON.stringify(y_samples), z:JSON.stringify(z_samples) -->


<!-- Write to a multidimensional array in JS

on event change, figure out if you need to store or send- all synchronous 

samples = []
if array is < 1000 samples (could use samples.length)
samples.push([x,y,z])
 i++;


when you call function to send to server, that function will be async
else
sendchunktoserver(samples)
samples = []
i = 0

$.post("/append?id=" +user.id, { samples: samples })
 .done(function () { console.log("worked!") })
 .fail(function (e) { console.log("failed", e) })


Send array to the server with a post body in JSON -->