{% extends "base.html" %}
{% block body %}
<style>
 
svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
</style>
<div id ="chart"> </div>

<script type="text/javascript" src="/static/js/live_chart.js"></script>
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
<script type="text/javascript" src="/static/js/websocket.js"></script>

{% endblock %}