
{% extends "base.html" %}
{% block body %}
<br>
  <button type="button" class="btn btn-success btn-lg btn-block" id="start" value="Start Tracking" onclick="startTracking()">  <span class="glyphicon glyphicon-play"></span>  START</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" id="submit" value="Submit"><span class="glyphicon glyphicon-stop"></span> SUBMIT</button>

  <h3> x </h3>
  <div class= "x"></div>

  <h3> y </h3>
  <div class= "y"></div>

  <h3> z </h3>
  <div class= "z"></div>

  <div class = "results"></div>

<div id ="chart"> </div>
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
<script type= "text/javascript" src="/static/js/websocket.js"></script>
<script type= "text/javascript" src="/static/js/recording.js"></script>

</script>


{% endblock %}
